/*
 * If you want to customize the CSS of this module, copy the definitions
 * below into your custom.css and make your changes there.
 */

/* when full screen */
.bgimagefs {
  /* Center and scale the image nicely */

  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* not fullscreen */
.bgimage {
}
